<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/"><i class="fa fa-book"></i> Courseopedia Fullstack App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/topics">All Topics <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/">Link</a>
        </li>
        <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Add Topic</button>
        </form> -->
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Item..." aria-label="Search">
        <input type="search" (ngModelChange)="searchItems(key.value)" #key="ngModel" ngModel name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search Items..." required>
      </form> -->
    </div>
</nav>

<div class="my-3">
    <router-outlet></router-outlet>
</div>

<footer class="footer text-light">
  <div class="footer-container align-middle text-center vertical-center">
    <i>Made with <i class="fa fa-heart"></i> by <a class="text-light" href="https://swarnadeep.vercel.app/" target=”_blank”>Swarnadeep</a></i>

    <a class="text-light" href="https://www.instagram.com/its_swarna_97/" target=”_blank”><i class="fa fa-instagram float-right mx-2 fa-lg"></i></a>
    <a class="text-light" href="https://www.facebook.com/swarnadeep.ghosh.10" target=”_blank”><i class="fa fa-facebook-square float-right mx-2 fa-lg"></i></a>
    <a class="text-light" href="https://github.com/SwarnadeepGhosh" target=”_blank”><i class="fa fa-github-square float-right mx-2 fa-lg"></i></a>
    <a class="text-light" href="https://www.linkedin.com/in/swarnadeepghosh/" target=”_blank”><i class="fa fa-linkedin-square float-right mx-2 fa-lg"></i></a>

  </div>
</footer>